h1 {
    font-family: 'Codystar', cursive;
    font-weight: bold;
    font-size: 56px;
    line-height: 100px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}
* {
    box-sizing: border-box;
}
.home {
    text-decoration: none;
    color: rgb(95, 181, 171);
}
.links {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.link1 {
    padding-right: 50px;
    text-decoration: none;
    color: black;
}
.link2 {
    padding-left: 50px;
    text-decoration: none;
    color: black;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.container {
    position: relative;
    width: 256px;
    height: 256px;
    margin-bottom: 25px;
}
.image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
.image2 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.image3 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.imageabout {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.containerabout {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(95, 181, 171);
    border-radius: 50%;
}
.container:hover .overlay {
    opacity: 75%;
  }
.text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
  }  